* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    background-color: white;
    max-width: 100 px;
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.0em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;

}

button {
    width: 85%;
    padding: 12px;
    margin-top: 18px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: grey;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.search-bar input {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 500px;
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;

}

.icon-cart:hover {
    cursor: pointer;
}

.icon-user {
    width: 40px;
    height: 40px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    background-color: whitesmoke;
    z-index: 1;
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55% right 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}


.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}


.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20 px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20 px;
    font-weight: 900;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;


}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: grey;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("images/ben-scott-bCnM5P0gcpY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}


.button-register {
    padding: 10px 40 px;
    margin-top: 18px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}


.button-register:hover {
    color: gray;
}

footer {
    font-size: 0.5vw;

}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100)
}

footer .container {
    height: 150 px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Main*/
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 12px;
    padding-top: 90px;

}

.container-items-men {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 12px;
    padding-top: 150px;

}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-product {
    padding: 15px 30 px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;

}

.item:hover img {
    transform: scale(1.2);
}

@media(min-width:720px) {

    header {
        position: fixed;
        width: 100%;

    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header .container-icon {
        flex-direction: row;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }



}

/* LOGIN */

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("images/ben-scott-bCnM5P0gcpY-unsplash.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    background-size: cover;
    background-position: center center;
}

.login-container {
    background: rgba(255, 255, 255, 0.886);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px;
    max-width: 400px;
    width: 90%;
    color: #000000;
    text-align: center;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
}

input::placeholder {
    color: rgba(111, 111, 111, 0.7);
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #000000;
    margin-top: 10px;
}

.login-container p {
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Sign Up */

#left-form{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: #fff url("images/aiony-haust-owp8uQgoK8U-unsplash.jpg") no-repeat center;
    background-size:  cover;
}

#right-form{
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: #fff;
}
